<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PurchaseMapper">
    <update id="reduceInventory" parameterType="po.Purchase">
        UPDATE product, purchase
        SET product.inventory = product.inventory - 1
        WHERE product.productID = purchase.productID
        AND purchase.purchaseID = #{purchaseID}
        AND #{purchaseTime} >= purchase.startTime
        AND purchase.endTime >= #{purchaseTime}
    </update>

    <select id="queryByProductID" resultType="po.Purchase">
        SELECT *
        FROM purchase
        WHERE productID = #{productID}
    </select>

    <select id="queryByPurchaseID" resultType="po.Purchase">
        SELECT *
        FROM purchase
        WHERE purchaseID = #{purchaseID}
    </select>

    <select id="queryAll" resultType="po.Purchase">
        SELECT *
        FROM purchase
    </select>
</mapper>