<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PurchaseMapper">
    <update id="reduceInventory" parameterType="po.Purchase">
        UPDATE purchase
        SET inventory = inventory - 1
        WHERE purchaseID = #{ID}
        AND #{startTime} >= startTime
        AND endTime >= #{startTime}
    </update>

    <select id="queryByID" parameterType="Long">
        SELECT *
        FROM purchase
        WHERE purchaseID = #{ID}
    </select>

    <select id="queryAll" resultType="po.Purchase">
        SELECT *
        FROM purchase
    </select>
</mapper>